{{define "title"}}Registration Successful{{end}}
{{define "content"}}
<div class="header">
  <h1>Registration Successful!</h1>
</div>
<div class="content">
  <p>Hello <strong class="capitalize">{{.FirstName}}</strong>,</p>
  <p>
    Thank you for joining <strong class="capitalize">{{.CompanyName}}</strong> 🍜<br />
    Your account has been created and is ready to use!
  </p>
  <p>
    Enjoy a wide selection of your favorite spicy seblak more easily.<br />
    Don’t forget to turn on notifications so you never miss a promo 🔥
  </p>
</div>
{{end}}