{{define "title"}}Penghapusan Akun Berhasil{{end}}
{{define "content"}}
<h1 style="color:#ef4444;margin-bottom:10px;">Penghapusan Akun Berhasil</h1>
<p style="color:#444;font-size:16px;">Halo <strong class="capitalize">{{.FirstName}}</strong>,</p>
<p style="color:#555;font-size:16px;">
    Akun Anda telah berhasil dihapus secara permanen pada {{.DeletedAt}}. Kami menyesal Anda pergi.
</p>

<!-- Body -->
<div style="margin-top:30px;color:#555;font-size:15px;line-height:1.5;">
    <p>Jika tindakan ini bukan Anda yang melakukan, segera hubungi Admin untuk mengamankan data
        Anda. Sesuai kebijakan retensi data, sebagian informasi yang telah dianonimkan mungkin tetap kami simpan
        untuk kepatuhan hukum.</p>
    <p>Bila di kemudian hari Anda berubah pikiran, Anda selalu dipersilakan untuk membuat akun baru kapan saja.
    </p>
</div>
{{end}}