{{define "title"}}Password Reset Successful{{end}}
{{define "content"}}
<h1 style="color: #10b981; margin-bottom: 10px;">Password Reset Successful</h1>
<p style="color: #444; font-size: 16px;">Hi <strong class="capitalize">{{.FirstName}}</strong>,</p>
<p style="color: #555; font-size: 16px;">
  Your password has been successfully reset at {{.UpdatedAt}}. You can now log in using your new credentials.
</p>

<div style="margin-top: 30px; color: #555; font-size: 15px;">
  <p>If you did not initiate this change, please contact Admin immediately to secure your account.</p>
</div>
{{end}}